{% extends 'lifetrack/base.html' %}
{% load staticfiles %}
{% block title %}Add List{% endblock %}
{% block body %}
<div class="container">
<form class="habit-form" method="post" action="{% url 'lifetrack:addlist' %}">
{% if attempt %}
<p>You already have a list named {{attempt}}</p>
{% endif %}
{% csrf_token %}
<input type="text" name="name" placeholder="List name" value="{{attempt}}">
<select name="freq">
{% for e in f %}
	<option value="{{e}}"{% if e == freq %} selected{% endif %}>{{e.title}}</option>
{% endfor %}
</select>
<div class="button-container">
<button class="save" name="form" value="add">Save</button>
</div>
</form>
</div>
{% endblock %}
