{% extends 'lifetrack/modif.html' %}
{% block title %}Edit Habit{% endblock %}
{% block heading %}<h3>{{hb}}</h3>{% endblock %}
{% block form %}
				<input type="hidden" name="ls" value="{{ls}}" />
				<input type="hidden" name="hb" value="{{hb}}" />
            <input type="text" name="name" placeholder="Enter or edit habit text" value="{{attempt}}">
<label>Start date: <input type="date" name="sdate" value="{{sdate}}"></label>
            <div class="button-container">
                <button class="delete" name="form" type="submit" value="delete">Delete Habit</button>
                <button class="save" name="form" type="submit" value="save">Save</button>
{% endblock %}
