{% extends 'lifetrack/base.html' %}
{% load staticfiles %}
{% block title %}Edit List: {{ls}}{% endblock %}
{% block body %}
<div class="container">
<h3>{{ls}}</h3>
<form class="habit-form" method="post" action="{% url 'lifetrack:editlist' %}">
{% csrf_token %}
<input type="hidden" name="ls" value="{{ls}}" />
<input type="text" name="name" placeholder="List name" value="{{ls}}" />
<select name="freq">
{% for e in f %}
	<option value="{{e}}"{% if e == freq %} selected{% endif %}>{{e.title}}</option>
{% endfor %}
</select>
<div class="button-container">
<button class="addhabit" name="form" value="addhabit">Add Habit</button>
<button class="delete" name="form" type="submit" value="delete">Delete List</button>
<button class="save" name="form" value="save">Save</button>
</div>
</form>
</div>
{% endblock %}
