{% extends 'lifetrack/modif.html' %}
{% block title %}Edit List: {{ls}}{% endblock %}
{% block heading %}<h3>{{ls}}</h3>{% endblock %}
{% block action %}{% url 'lifetrack:editlist' %}{% endblock %}
{% block form %}
<input type="hidden" name="ls" value="{{ls}}" />
<input type="hidden" name="freq" value="{{freq}}" />
<input type="text" name="name" placeholder="List name" value="{{attempt}}" />
<h4 class="freq">{{freq.title}} habits</h4>
<div class="button-container">
<button class="addhabit" name="form" value="addhabit">Add Habit</button>
<button class="delete" name="form" type="submit" value="delete">Delete List</button>
<button class="save" name="form" value="save">Save</button>
{% for h in hb %}
<p class="habit-label">
{{h}}
<button class="edithabit" name="hb" value="{{h}}">Edit Habit</button>
</p>
{% endfor %}
{% endblock %}
