{% extends 'lifetrack/base.html' %}
{% load staticfiles %}
{% block title %}Habit Tracker{% endblock %}

{% block body %}
    <form method="post" action="{% url 'lifetrack:addlist' %}">
        {% csrf_token %}
        <button type="submit">Add List</button>
    </form>
    
    <div class="lists-container" oninput="tickBox(event)">
		{% if not ls %}
		<p class="hint">Add a list to start tracking your habits!</p>
		{% endif %}
        {% for l in ls %}
            <div class="list" id="{{l.l}}">
                <h3>{{l.l}}</h3>
                {% if not l.h %}
                <p class="hint">No habits yet</p>
                <div class="days">
                    {% for d in l.d %}
                        <div class="day">{{d}}</div>
                    {% endfor %}
                </div>
                {% else %}
                {% for h in l.h %}
                    <div class="habit-row" id="{{h.h}}">
                        <p class="habit-label">{{h.h}}</p>
                        <div class="tracker">
                            {% if not h.o|last|last %}
                            <p class="hint">You haven't started this habit yet</p>
                            {% else %}
                            {% for o in h.o %}
                                <div class="day" id="{{o.0}}">
                                    {% if o.2 %}
                                        <input type="checkbox"{% if o.1 %} checked{% endif %}>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                <form method="post" action="{% url 'lifetrack:editlist' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ls" value="{{l.l}}">
                    <button type="submit">Edit</button>
                </form>
            </div>
        {% endfor %}
    </div>
    
    <div id="csrf">{% csrf_token %}</div>
{% endblock %}

