<head>
<script>
function showReg(){document.getElementById("user_form").style.display="block";}
</script>
</head><body>
{% if registered %}
<p>Thanks for registering!</p>
<p>Now try logging in ☺︎ (if it doesn't work someone's done something wrong — hopefully not us!)</p>
{% endif %}
{% if fail == 'disabled' %}
<p>Sorry, your account is disabled ☹︎ You must've done something really wrong</p>
{% elif fail == 'login' %}
<p>Bad username or password</p>
{% endif %}
<form id="login_form" method="post" action="{% url 'lifetrack:login' %}">
{% csrf_token %}
<input type="hidden" name="form" value="login" />
<p>Username: <input type="text" name="username" value="" required maxlength="150" /></p>
<p>Password: <input type="password" name="password" value="" required /></p>
<input type="submit" value="Log In" />
<p><a href="#user_form" onclick="showReg()">Not registered?</a></p>
</form>
<form id="user_form" method="post"
	action="{% url 'lifetrack:login' %}" enctype="multipart/form-data"
	style="display:none;">
{% csrf_token %}
<input type="hidden" name="form" value="signup" />
{{user_form.as_p}}
<input type="submit" name="submit" value="Register" />
</form>
</body>
